
.header-box{
 background-color: #4d079c;
 height : 100px;
 width : 60%;
 margin : 0 auto;
}
.about{
    padding : 2%;
    color:#fff;
    font-weight : bold;
    font-size : x-large;
}
.role{
    font-size: 15px;
}
.content-box-one
{
    width : 75%;
    margin : 0 auto;
    display: flex;
 
    
    
}
.career-objective .heading{
    padding-left : 20%;
    padding-top : 1%;
    color:#000;
    font-weight : bold;
    font-size : 15px;
}
.heading-para
{
    margin-left :20%;
    width: 55%;
}
.contact{
    margin-right: 10%;
}
.contact .heading{
    color: #000;
    font-weight: bold;
    padding-top: 3%;
}
.contact #email-heading,#github-heading,#linkedin-heading,#phone-heading,#address-heading
{
    color : #000;
    font-weight: bold;

}
.contact .email,.linked-in,.github,.phone,.address  
{
    padding-top: 4%;
}
phone,city{
    font-weight: normal;
}
.content-box-two{
    width : 75%;
    display: flex;
    margin : 0 auto;
}
.certifications-and-projects
{
    margin-top : -11%;
    margin-left : 13.3%;
}
.certifications-and-projects .heading,desc,testdata,techstack,tests,implementation,programming,testing-tools,tf,build,db,vc,project-man{
    font-weight: bold;
    
}
.course-name{
    font-weight: bold;
    padding-top: 2%;
    font-size: medium;
}
.certified-by{
    font-size: 15px;
}
.project-one-title{
    font-weight : bold;
    padding-top: 10px;
    width : 75%;
}
.description{
    width:45%;
    padding-top: 10px;
}
.test-data{
    width : 50%;
    padding-top:10px ;
}
.tech-stack,.tests{
    padding-top: 10px;
}
.implementation
{
    width : 55%;
}
.tests-points{
    width:55%;
}
.soft-skills{
    margin-left : -20.9%;
    padding-top : 30px;
    width : 13%;
    
}
.soft-skills .heading{
    font-weight: bold;
}
.soft-skills-points{
  margin-left : -12%;
  margin-top : -5%;
  
  
}
.hard-skills
{
    margin-top:13%;
    margin-left : -10.7%;
}
.hard-skills .heading{
    font-weight: bold;
}
.hard-skills-points{
    width : 48%;
    margin-left : -4%;
}




